body
{
	margin: 0;
	padding: 0;
	background: #c0c0c0;
	color: #0;
	text-align: left;
	font: normal 12pt Verdana;
    align: left;
}

div.clearall
{
	clear: both;
}

div.player
{
	align: center;
}

div.playerbutton
{
	width: 15%;
	float: left;
	margin: 0.5%
	align: center;
	text-align: center;
}

img.playerbutton
{
	max-width: 100%;
	max-height: 100%;
}

img.navbutton
{
	width: 25px;
	height: 25px;
}

td,th
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

div#rest
{
	position: fixed;
	width: 99%;
	height: 90%;
	align: center;
}

div#rest > iframe
{
	display: block;
	width: 100%;
	height: 100%;
}
